<div id='signed-out-home'>
  <section class='text-center py-5 d-flex'>
    <div>
      <h1>Practice Smarter,</h1>
      <h1 class='mb-4'>Improve Faster.</h1>
      <p class='mb-5'>Set clear goals and record your progress with this journal.</p>
      <%= link_to 'Get Started!', signup_path, class: 'btn btn-light mb-3' %>
    </div>
  </section>
</div>