<div id='signed-out-root'>
  <header class='py-3'>
    <div class='d-flex justify-content-between pt-1'>
      <h3 class='mt-1'><%= link_to 'Mindful Practice', '/' %></h3>
      <nav class='nav'>
        <%= link_to 'contact', '#', class: 'nav-link' %>
        <%= link_to 'sign in', '#', class: 'nav-link' %>
        <%= link_to 'sign up', '#', class: 'nav-link ml-3', id: 'sign-up-nav-link' %>
      </nav>
    </div>
  </header>
  <section class='text-center py-5'>
    <h1>Practice Smarter,</h1>
    <h1>Improve Faster.</h1>
    <p class='mb-5'>Set clear goals and record your progress with this journal.</p>
    <button type='button' class='btn btn-light'>Get Started!</button>
  </section>
  <footer class='pt-5'>
    <small>Something something something</small>
  </footer>
</div>