<div id='signed-out-home'>
  <section class='text-center py-5 d-flex'>
    <div class='p-3'>
      <h3 class="font-weight-bold">Practice Smarter,</h3>
      <h3 class="mb-4 font-weight-bold">Improve Faster.</h3>
      <p class='mb-5'>Set clear goals and record your progress with this journal.</p>
      <%= link_to 'Get Started!', signup_path, class: 'btn btn-dark mb-3' %>
    </div>
  </section>
</div>