.text-primary, .text-success {
  color: #4ECDC4 !important;
}

.text-secondary, .text-danger {
  color: #FF6B6B !important;
}

.text-warning, .text-info {
  color: #FFE66D !important;
}

.text-light {
  color: #F7FAF7 !important;
}

.text-dark {
  color: #292F36 !important;
}

.text-gray {
  color: #909797 !important;
}

.bg-light {
  background-color: #F7FAF7 !important;
}

.bg-light-gray {
  background-color: #CACBC7 !important;
}

.bg-gray {
  background-color: #909797 !important;
}

.bg-dark-gray {
  background-color: #5D6366 !important;
}

.bg-dark {
  background-color: #292F36 !important;
}

.bg-primary, .bg-success {
  background-color: #4ECDC4 !important;
}

.bg-secondary, .bg-danger {
  background-color: #FF6B6B !important;
}

.bg-warning, .bg-info {
  background-color: #FFE66D !important;
}

.opacity-1 {
  opacity: 1;
}