#signed-out-home {
  padding-top: 81px;
  margin-top: -81px;
  height: 100vh;

  section {
    position: relative;
    height: 100%;

    &::after {
      content: "";
      background-image: image-url('home_splash.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      height: 100%;
    }

    div {
      max-width: 800px;
      margin: auto;
      background: rgba(247,255,247,0.5);
      z-index: 1;
    }
  }
}

#sign-up-nav-link {
  border: 1px solid #292F36;
  border-radius: 2px;
}

#users-new {
  max-width: 800px;
  margin: auto;

  form {
    max-width: 500px;
    margin: auto;
  }
}

#sessions-new {

  form {
    max-width: 500px;
    margin: auto;
  }

}


#dashboard-root {
  .dashboard-title {
    border-bottom: black solid 1px;
  }

  #full-create-book-button {
    width: 220px;
    height: 220px;
    border: 2px #4ECDC4 dashed;
    border-radius: 10px;
    transition: all 0.1s linear;
  }

  .split-button-container {
    #create-book-button {
      width: 220px;
      height: 110px;
      border: 2px #4ECDC4 dashed;
      border-bottom: none;
      border-radius: 10px 10px 0 0;
      transition: all 0.1s linear;

      &:focus {
        z-index: 1;
      }
    }

    .create-edit-book-divider {
      content: ' ';
      border-top: 1px #dae0e5 solid;
      width: 70%;
      transition: all 0.1s linear;
    }

    #edit-book-button {
      width: 220px;
      height: 110px;
      border-width: 0 2px 2px 2px;
      border-color: #4ECDC4;
      border-style: dashed;
      border-radius: 0 0 10px 10px;
      transition: all 0.1s linear;

      &:focus {
        z-index: 1;
      }
    }

    &:hover .create-edit-book-divider {
      width: 100%;
    }
  }
}

.page-subsection {
  min-height: 100px;
}