.icon {
  content: ' ';
  height: 90px;
  width: 90px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
}

.small-icon {
  content: ' ';
  height: 20px;
  width: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
}

.violin-icon {
  background-image: url('instruments/violin.svg');
}

.bass-icon {
  background-image: url('instruments/bass.svg');
}

.cello-icon {
  background-image: url('instruments/cello.svg');
}

.clarinet-icon {
  background-image: url('instruments/clarinet.svg');
}

.drum-icon {
  background-image: url('instruments/drum.svg');
}

.flute-icon {
  background-image: url('instruments/flute.svg');
}

.guitar-icon {
  background-image: url('instruments/guitar.svg');
}

.other-icon {
  height: 80px;
  width: 80px;
  background-image: url('instruments/other.svg');
}

.piano-icon {
  background-image: url('instruments/piano.svg');
}

.recorder-icon {
  background-image: url('instruments/recorder.svg');
}

.saxophone-icon {
  background-image: url('instruments/saxophone.svg');
}

.trombone-icon {
  background-image: url('instruments/trombone.svg');
}

.trumpet-icon {
  background-image: url('instruments/trumpet.svg');
}
