html, body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background-color: #F7FAF7;
}

#main-content {
  padding-top: 81px;
  height: auto !important; /* real browsers */
  min-height: 100%; /* real browsers */
}

.btn-light {
  font-weight: 600;
  color: #292F36;
  background-color: #F7FAF7;

  &:hover, &.disabled, &:disabled {
    opacity: 0.7;
    color: #292F36;
    background-color: #F7FAF7;
  }
}

.btn-dark {
  background-color: #292F36;
  color: #F7FAF7;

  &:hover {
    opacity: 0.8;
    background-color: #292F36;
    color: #F7FAF7;
  }
}

a {
  color: inherit;

  &:hover {
  color: inherit;
  opacity: 0.7;
  text-decoration: inherit;
  }
}

input {
  border: 1px solid gray;
  border-radius: 3px;
  padding: 5px;

  &:focus, &:active {
    outline: none;
    border-width: 2px;
    padding: 4px;
  }
}

header {
  width: 100%;
  position: absolute;
  z-index: 3;
  left: 0;
  top: 0;

  div {
    max-width: 800px;
    margin: auto;
  }
}

footer {
  width: 100%;
}

.input-error {
  font-size: 14px;
}

form select {
  width: 100%;
  height: 36px;
  border: 1px solid gray;
  border-radius: 3px;
  background-color: white;

  &:focus, &:active {
    outline: none;
    border-width: 2px;
  }
}